<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="weather">

    <insert id="insert" parameterType="java.util.List">

        <foreach item="item" collection="list" separator=";">
            IF EXISTS(
                SELECT FCSTDATE, CATEGORY FROM WEATHER
                WHERE FCSTDATE = #{item.fcstDate} AND CATEGORY = #{item.category}
            )
            BEGIN
                UPDATE WEATHER SET ${item.fcstTime} = ${item.fcstValue}
                WHERE FCSTDATE = #{item.fcstDate} AND CATEGORY = #{item.category}

            END

            ELSE
            BEGIN
                INSERT INTO WEATHER(FCSTDATE, CATEGORY, ${item.fcstTime})
                VALUES(#{item.fcstDate},#{item.category},${item.fcstValue})
            END

        </foreach>
    </insert>

    <select id="select" resultType="WeatherDto" parameterType="hashmap">
        SELECT FCSTDATE, CATEGORY, FCSTTIME, FCSTVALUE
        FROM
        (
            SELECT *
            FROM WEATHER
            WHERE CONVERT (DATETIME, FCSTDATE) BETWEEN #{start_date} AND #{end_date}
            <if test='!data_type.equals("ALL")'>
                AND CATEGORY = #{data_type}
            </if>
        ) AS ORIGINAL
        UNPIVOT
        <foreach item="item" collection="map" separator=",">
        (FCSTVALUE for FCSTTIME IN (${item.fcstTime})) AS UNPIVOT_W ORDER BY CATEGORY, FCSTDATE
        </foreach>
    </select>

</mapper>